doctype html
html
  head
    title Dashboard
    link(rel='stylesheet', href='/css/style.css')
  body
    h1 Welcome #{username}
    p You are logged in to your dashboard.
    a(href='/logout') Logout
