doctype html
html
  head
    title Home
    link(rel='stylesheet', href='/css/style.css')
  body
    h1 Welcome to the Application
    a(href='/register') Register
    br
    a(href='/login') Login
